In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('Full_Finalized_numeric_data_for_training.csv')

In [30]:
df

,Unnamed: 0,state,cityname,persongender,personexactage,personmaritalstatus,traveler,ZipCode,investment,estimatedincomecode,PresenceOfCreditCard,CreditRating,Duration,hour,Label
0,0,18,5768,0,87,1,0,86429,0,6,0,1,0,12,0
1,1,18,4600,1,83,3,1,85939,1,3,1,7,14,9,1
2,2,18,4373,0,2,1,0,85712,0,13,0,4,24,15,1
3,3,18,4373,1,62,3,1,85736,1,3,1,2,0,9,0
4,4,18,3375,0,50,1,0,85335,0,12,0,4,0,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335869,335869,16,651,1,69,3,1,19468,1,3,1,8,0,12,0
335870,335870,16,1520,1,84,1,0,19468,0,8,0,1,0,9,0
335871,335871,16,3163,0,88,3,1,19468,0,8,1,1,0,14,0
335872,335872,16,9064,0,94,3,1,19468,0,6,1,8,0,12,0
335873,335873,16,5988,0,75,3,0,19468,0,16,1,1,0,12,0

In [31]:
df = df.drop(['Unnamed: 0'], axis = 1)

In [32]:
target = df['Label']

In [33]:
features = df[['state', 'persongender', 'investment','PresenceOfCreditCard', 'CreditRating']]

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.1, random_state=1)

In [36]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [37]:
gnb.fit(X_train, y_train)

GaussianNB()

In [38]:
y_pred = gnb.predict(X_test)

In [39]:
from sklearn import metrics

In [40]:
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 51.41121829224723